{{- if has .chezmoi.os (list "darwin" "linux" "freebsd" "openbsd" "netbsd") -}}
#!/bin/sh
set -eu

# tmux.conf: {{ include "dot_tmux.conf" | sha256sum }}
"$HOME/.tmux/plugins/tpm/bin/install_plugins"

# yazi/package.toml: {{ include "dot_config/yazi/package.toml" | sha256sum }}
ya pkg install

# mise/config.toml: {{ include "dot_config/mise/config.toml" | sha256sum }}
mise install --yes
{{ end -}}
