{{ if eq .chezmoi.os "darwin" -}}
# To debug zsh startup time:
# 1. Uncomment the command line above & the last of this file
# 2. Run `time ZSH_DEBUGRC=1 zsh -i -c exit`
# [[ -n "$ZSH_DEBUGRC" ]] && zmodload zsh/zprof # must be kept to the most top

# ============================================================================ #
# region Zsh configuration directory
# ============================================================================ #
ZSH_CONFIG="$HOME/.zsh"
# endregion

# ============================================================================ #
# region Zsh plugin: zsh-vi-mode (manual install)
# ============================================================================ #
# https://github.com/jeffreytse/zsh-vi-mode#manually
# using default vi mode instead is enough for me
# source "$ZSH_CONFIG/plugins/zsh-vi-mode/zsh-vi-mode.plugin.zsh"
# endregion

# ============================================================================ #
# region Zsh plugin: zsh-completions (manual install)
# ============================================================================ #
# https://github.com/zsh-users/zsh-completions#manual-installation
fpath=("$ZSH_CONFIG/plugins/zsh-completions/src" $fpath)

# Add homebrew to fpath for zsh completions
fpath=(/opt/homebrew/share/zsh/site-functions $fpath)
# endregion

# ============================================================================ #
# region Zsh plugin: zsh-autosuggestions (manual install)
# ============================================================================ #
# https://github.com/zsh-users/zsh-autosuggestions/blob/master/INSTALL.md#manual-git-clone
source "$ZSH_CONFIG/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh"
# endregion

# ============================================================================ #
# region fzf (installed with homebrew)
# ============================================================================ #
# https://github.com/junegunn/fzf#setting-up-shell-integration
source <(fzf --zsh) # set up fzf key bindings and fuzzy completion

# Catppuccin mocha theme for fzf
export FZF_DEFAULT_OPTS=" \
--color=bg+:#313244,bg:-1,spinner:#f5e0dc,hl:#f38ba8,gutter:-1 \
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
--color=marker:#b4befe,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8 \
--color=selected-bg:#45475a \
--color=border:#313244,label:#cdd6f4"

# Following configs require fd to be installed
# ** tab completion for files and dirs
_fzf_compgen_path() {
  fd --hidden --exclude .git . "$1"
}

# ** tab completion for dirs
_fzf_compgen_dir() {
  fd --type=d --hidden --exclude .git . "$1"
}

# Preview files and dirs with fzf
show_file_or_dir_preview="if [ -d {} ]; then \
  eza --tree --color=always {} | head -200; \
else \
  bat -n --color=always --line-range :500 {}; \
fi"

export FZF_CTRL_T_OPTS="--preview '$show_file_or_dir_preview'"
export FZF_ALT_C_OPTS="--preview 'eza --tree --color=always {} | head -200'"

_fzf_comprun() {
  local command=$1
  shift

  case "$command" in
    cd)           fzf --preview 'eza --tree --color=always {} | head -200' "$@" ;;
    export|unset) fzf --preview "eval 'echo \${}'"         "$@" ;;
    ssh)          fzf --preview 'dig {}'                   "$@" ;;
    *)            fzf --preview "$show_file_or_dir_preview" "$@" ;;
  esac
}
# endregion

# ============================================================================ #
# region Zsh plugin: fzf-tab (manual install)
# ============================================================================ #
# https://github.com/Aloxaf/fzf-tab#manual
source "$ZSH_CONFIG/plugins/fzf-tab/fzf-tab.plugin.zsh"
# endregion

# ============================================================================ #
# region SSH agent
# ============================================================================ #
# Start SSH agent if not running
if [ -z "$SSH_AUTH_SOCK" ] || [ ! -e "$SSH_AUTH_SOCK" ]; then
  # Start ssh-agent and save environment variables to ~/.ssh/agent.env
  ssh-agent -s > ~/.ssh/agent.env
  eval "$(<~/.ssh/agent.env)" >/dev/null
fi

# Check if keys are already loaded
ssh-add -l &>/dev/null
if [ $? -eq 1 ]; then
  # Load SSH keys with keychain integration
  ssh-add --apple-use-keychain ~/.ssh/id_ed25519_GabPC 2>/dev/null
fi
# endregion

# ============================================================================ #
# region Load environment variables
# ============================================================================ #
source "$ZSH_CONFIG/env.zsh"
# endregion

# ============================================================================ #
# region Zsh configurations
# ============================================================================ #
# Completions
autoload -Uz compinit # load completions (for zsh-completions & fzf-tab)
compinit -C
# 'm:{a-zA-Z}={A-Za-z}' : match case insensitive
# 'r:|=*'       : `cd /u/lo/b` -> `cd /usr/local/bin`
# 'l:|=* r:|=*' : `cd c/p`     -> `cd company/project`
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}' 'r:|=*' 'l:|=* r:|=*'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}" # colorize completion menu
# zstyle ':completion:*' menu select=2 # select menu item with arrow keys
zstyle ':completion:*' menu no # disable menu selection (use fzf-tab instead)
zstyle ':fzf-tab:*' use-fzf-default-opts yes # make fzf custom theme working
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza -1 --icons --color=always $realpath'
zstyle ':fzf-tab:complete:z:*' fzf-preview 'eza -1 --icons --color=always $realpath'

# History (for `zsh-autosuggestions`)
HISTFILE="$HOME/.zsh_history"
HISTSIZE=1048576
SAVEHIST=$HISTSIZE
HISDUP=erase # erase duplicates in history file
setopt appendhistory # append any commands to history file instead of overwriting it
setopt incappendhistory # append history after each command
setopt extendedhistory # save timestamp of command in history file
setopt share_history # share history among all zsh sessions
setopt hist_ignore_space # ignore commands that start with space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups # ignore duplicates in history file when searching
setopt hist_expire_dups_first # expire duplicates first when history file is full
setopt hist_verify # show command with history expansion before executing it

# Use bat for manpage
export MANPAGER="sh -c 'sed -u -e \"s/\\x1B\[[0-9;]*m//g; s/.\\x08//g\" | bat -p -lman'"

# Default vi mode for zsh
bindkey -v # Use vim style line editing in zsh (vicmd)
export KEYTIMEOUT=1 # reduce delay after pressing ESC in vim mode

# Disable `r` command (use `!!` instead)
alias r='echo "r is disabled. Use !! instead."'
# endregion

# ============================================================================ #
# region Load external configuration files
# ============================================================================ #
source "$ZSH_CONFIG/aliases.zsh"
source "$ZSH_CONFIG/key_bindings.zsh"
source "$ZSH_CONFIG/hooks.zsh"
[[ -f "$ZSH_CONFIG/local.zsh" ]] && source "$ZSH_CONFIG/local.zsh"
# endregion

# ============================================================================ #
# region Zsh plugin: zsh-syntax-highlighting (manual install)
# ============================================================================ #
# https://github.com/zsh-users/zsh-syntax-highlighting/blob/master/INSTALL.md#in-your-zshrc
source "$ZSH_CONFIG/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh" # required to be at the end
ZSH_HIGHLIGHT_HIGHLIGHTERS=(main brackets cursor)
# endregion

# ============================================================================ #
# region zoxide (installed with homebrew)
# ============================================================================ #
# https://github.com/ajeetdsouza/zoxide#installation
eval "$(zoxide init zsh)" # required to be at the end
# endregion

# ============================================================================ #
# region starship (installed with homebrew)
# ============================================================================ #
# https://starship.rs/zh-CN/guide/#%F0%9F%9A%80-%E5%AE%89%E8%A3%85
eval "$(starship init zsh)"
# endregion

# ============================================================================ #
# region thefuck (installed with homebrew)
# ============================================================================ #
# https://github.com/nvbn/thefuck#installation
eval $(thefuck --alias)
# endregion

# [[ -n "$ZSH_DEBUGRC" ]] && zprof # must be kept to the most end
{{ end -}}
