{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
tap "localsend/localsend"
tap "lihaoyun6/tap"

brew "git"
brew "fzf"
brew "zoxide"
brew "starship"
brew "neovim"
brew "bat"
brew "eza"
brew "rmtrash"
brew "fd"
brew "jless"
brew "jq"
brew "ripgrep"
brew "tealdeer"
brew "tmux"
brew "wget"
brew "curl"
brew "ffmpeg"
brew "sevenzip"
brew "poppler"
brew "resvg"
brew "imagemagick"
brew "yazi"
brew "git-delta"
brew "diffnav"
brew "git-lfs"
brew "aichat"
brew "mise"

cask "kitty"
cask "karabiner-elements"
cask "hammerspoon"
cask "snipaste"
cask "codex"
cask "bluesnooze"
cask "coteditor"
cask "iina"
cask "localsend/localsend/localsend", trusted: true
cask "jordanbaird-ice"
cask "lihaoyun6/tap/quickrecorder", trusted: true
cask "orbstack"
cask "switchhosts"
cask "typora"
cask "visual-studio-code"
cask "rectangle"
cask "mac-mouse-fix"
cask "monitorcontrol"
# Fonts
cask "font-symbols-only-nerd-font"
cask "font-jetbrains-maple-mono-nf"
cask "font-maple-mono-nf-cn"
cask "font-ibm-plex-mono"
EOF
{{ end -}}
