{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

# tmux.conf: {{ include "dot_tmux.conf" | sha256sum }}
"$HOME/.tmux/plugins/tpm/bin/install_plugins"

# yazi/package.toml: {{ include "dot_config/yazi/package.toml" | sha256sum }}
ya pkg install
{{ end -}}
